name: Publish Snapshot
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  publish:
    name: Publish Snapshot to GH Packages
    runs-on: ubuntu-latest
    environment: Publish Environment

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish to Maven
        run: ./gradlew :server:publish --no-daemon --stacktrace
        env:
          GH_USER: ${{ vars.GH_USER }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
